<template>
    <div id = "todolist">
        <todolistAddButton @add="addItem" class = "addButton"></todolistAddButton>
        <todolistItem class = "todoItem" v-for="todo in todoData" :key="todo.id" 
        v-bind:itemObject="todo"
        @deleteItem="deleteItem"
        @setItemEditable="setItemEditable">
        </todolistItem>
    </div>
</template>
<script>
import todolistItem from "../components/todolistItem"
import todolistAddButton from "../components/todoListAddButton"

export default {
    data: function()
    {
        return {
            lastItemId: 0
        }
    },
    props: {
        todoData: Array,
    },
    methods: {
        addItem: function()
        {
            this.todoData.push({
                id: this.lastItemId,
                title: "none",
                message: "none",
                status: "none",
                editable: false
            });
            this.lastItemId += 1;
        },
        deleteItem: function(id)
        {
            console.log("deleting item with id:" + id);
            this.todoData = this.todoData.filter(item => item.id !== id);
        },
        setItemEditable: function(id)
        {
            for(var i = 0;i < this.todoData.length;i++)
            {
                if(this.todoData[i].id == id)
                {
                    this.todoData[i].editable = !this.todoData[i].editable;
                }
            }
        }
    },
    components: {
        todolistItem,
        todolistAddButton
    }
}
</script>
<style scoped>
.todoItem
{
    margin-bottom: 2em;
}
</style>