<template>
    <div>
        <div id = "itemBody" v-if="itemObject.editable">
            <button type="button" id = "closeButton"
            @click="deleteItem">X</button>
            <button 
            id = "editButton" 
            type="button" 
            @click="setEdit">
            done
            </button>
            <h3 id = "title" contenteditable="true" 
            v-bind:value="itemObject.title">{{ itemObject.title }}</h3>
            <p id = "message" contenteditable="true"
            v-bind:value="itemObject.message">{{ itemObject.message }}</p>
        </div>
        <div id = "itemBody" v-if="!itemObject.editable">
            <button type="button" id = "closeButton"
            @click="deleteItem">X</button>
            <button 
            id = "editButton" 
            type="button" 
            @click="setEdit">
            edit</button>
            <h3 id = "title" contenteditable="false">{{ itemObject.title }}</h3>
            <p id = "message" contenteditable="false">{{ itemObject.message }}</p>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        itemObject: {
            type: Object,
            default: function()
            {
                return {
                    title: "none",
                    message: "none",
                    editable: false
                }
            }
        }
    },
    methods: {
        setEdit: function()
        {
            this.$emit("setItemEditable", this.itemObject.id);
        },
        deleteItem: function()
        {
            console.log("emitting deleteItem event");
            this.$emit("deleteItem", this.itemObject.id);
        },
    }
}
</script>
<style scoped>
#itemBody
{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-left: 20%;
    margin-right: 20%;
}
#editButton
{
    background-color: white;
    border: solid black 1px;
    margin-top: 0.2em;
    float:right;
    margin-right: 0.2em;
}

#closeButton
{
    float: left;
    border: solid black 1px;
    background-color: white;
    margin-left: 0.2em;
    margin-top: 0.2em;
    padding: 0em 0.1em 0em 0.1em;
}
#title
{
    margin-top: 1em;
    margin-left: 2em;
    width: fit-content;
}
#message
{
    
}
#status
{
    margin-right:85%;
    width:40%;
}
</style>