<template>
    <div id ="button" @click="addItemEvent">
        <div id = "crossA">
        </div>
        <div id = "crossB">
        </div>
    </div>
</template>
<script>
export default {
    methods: {
        addItemEvent: function() {
            this.$emit('add');
            console.log("emiting addItemEvent!");
        }
    }
}
</script>
<style scoped>
#button
{
    width: 2em;
    height: 2em;
}

#crossA
{
    background-color: gray;
    width: 2em;
    height: 0.7em;
    margin-top: 0.6em;
}
#crossB
{
    background-color: gray;
    width: 2em;
    height: 0.7em;
    margin-top: -0.7em;
    transform: rotate(90deg);
}
</style>