<template>
  <div id="app">
    <todolist id = "todolist" 
     v-bind:todoData="data">
    </todolist>
  </div>
</template>

<script>
import todolist from './components/todolist'
export default {
  name: 'App',
  components: {
    todolist,
  },
  data: function()
  {
    return {
      data: []
    };  
  }
}
</script>

<style>
html
{
  background-color: rgb(245, 245, 245);
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#todolist
{
  margin-top: 5em;
}
.addButton
{
  position:absolute;
  top:5%;
  right:16%;
}
</style>
